body {
	margin: 0;
}
body > .symbols {
	display: none;
}

.ui {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
}
.ui.landscape {
	flex-direction: row;
}
.ui.portrait {
	flex-direction: column;
}
.ui .resizer {
	background: #CCC;
	flex: 0 0 8px;
}
.ui.landscape .resizer {
	cursor: col-resize;
}
.ui.portrait .resizer {
	cursor: row-resize;
}

.sidebar {
	flex: 0 0 30%;
}

.map {
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
}
.map .tiles {
	position: relative;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	pointer-events: none;
}
.map .tiles img {
	position: absolute;
	width: 256px;
	height: 256px;
}
.map .crosshair {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	pointer-events: none;
}
.map .crosshair svg {
	height: 15px;
	width: 15px;
}
