body {
	margin: 0;
}
body > .symbols {
	display: none;
}

.ui {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	--gap: 8px;
	--button-size: 32px;
}
.ui .buttons button {
	z-index: 1;
	width: var(--button-size);
	height: var(--button-size);
	overflow: hidden;
}
.ui .buttons.top button {
	position: absolute;
	top: var(--gap);
}
.ui .buttons.top button.menu {
	left: var(--gap);
}
.ui .buttons.top button.split,
.ui .buttons.top button.close {
	right: var(--gap);
}
.ui .buttons.top button.resize {
	left: 0;
}
.ui .buttons.top button.rotate {
	left: var(--button-size);
}

.ui.left-right {
	flex-direction: row;
}
.ui.up-down {
	flex-direction: column;
}
.ui.left-right .buttons.top button.resize {
	cursor: col-resize;
}
.ui.up-down .buttons.top button.resize {
	cursor: row-resize;
}

.ui .sidebar {
	display: none;
	flex: 0 0 30%;
	position: relative;
}
.ui:not(.with-map) .sidebar {
	flex-grow: 1;
}
.ui.with-sidebar .sidebar {
	display: block;
}
.ui .sidebar main {
	position: absolute;
	inset: calc(var(--gap)*2 + var(--button-size)) 0 0;
}

.ui .map {
	display: none;
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
}
.ui.with-map .map {
	display: block;
}
.ui .map .buttons.controls {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	position: absolute;
	right: var(--gap);
	bottom: calc(var(--gap)*2);
}
.ui .map .surface {
	position: absolute;
	inset: 0;
	cursor: grab;
}
.ui .map .surface.grabbed {
	cursor: grabbing;
}
.ui .map .tiles {
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	pointer-events: none;
}
.ui .map .tiles img {
	position: absolute;
	width: 256px;
	height: 256px;
}
.ui .map .crosshair {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	pointer-events: none;
}
.ui .map .crosshair svg {
	height: 15px;
	width: 15px;
}
.ui .map .attribution {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 2px 4px;
	background: #FFFC;
	font: 11px sans-serif;
}
.ui .map .attribution a:not(:hover) {
	text-decoration: none;
}
