body {
	margin: 0;
}
body > .symbols {
	display: none;
}

.ui {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	--gap: 8px;
	--button-size: 32px;
}
.ui .buttons button {
	z-index: 1;
	box-sizing: border-box;
	width: var(--button-size);
	height: var(--button-size);
	overflow: hidden;
	color: #888;
	border-radius: 4px;
	cursor: pointer;
}
.ui .buttons button:hover {
	color: #444;
}
.ui .buttons button > svg {
	width: 100%;
	height: 100%;
}
.ui .buttons.top button {
	position: absolute;
	top: var(--gap);
}
.ui .buttons.top button.menu {
	left: var(--gap);
}
.ui .buttons.top button.split,
.ui .buttons.top button.close {
	right: var(--gap);
}
.ui .buttons.top button.resize {
	left: 0;
}
.ui .buttons.top button.rotate {
	left: var(--button-size);
}

.ui.left-right {
	flex-direction: row;
}
.ui.up-down {
	flex-direction: column;
}
.ui.left-right .buttons.top button.resize {
	cursor: col-resize;
}
.ui.up-down .buttons.top button.resize {
	cursor: row-resize;
}

.ui .sidebar {
	--lead-offset: calc(var(--gap)*2 + var(--button-size));
	display: none;
	flex: 0 0 30%;
	position: relative;
}
.ui:not(.with-map) .sidebar {
	flex-grow: 1;
}
.ui.with-sidebar .sidebar {
	display: block;
}
.ui .sidebar .buttons button {
	border: none;
	background: none;
	padding: 4px;
}
.ui .sidebar .lead.outer {
	position: absolute;
	z-index: 1;
	top: 0;
	left: var(--lead-offset);
	right: var(--lead-offset);
	min-height: var(--lead-offset);
}
.ui .sidebar .lead h1 {
	margin-top: var(--gap);
	font-size: var(--button-size);
	line-height: var(--button-size);
}
.ui .sidebar .lead.outer h1 {
	margin-bottom: 0;
}
.ui .sidebar .lead.outer .shrunk-heading:not(:empty) ~ h1 {
	visibility: hidden;
}
.ui .sidebar .lead.outer .shrunk-heading {
	--descender-height: 2px;
	--number-of-lines: 2;
	--line-height: calc(var(--button-size) / var(--number-of-lines));
	position: absolute;
	padding-bottom: var(--descender-height);
	bottom: calc(var(--gap) - var(--descender-height));
	left: 0;
	right: 0;
	font-size: var(--line-height);
	line-height: var(--line-height);
	font-weight: bold;
	overflow: hidden;
	-webkit-line-clamp: var(--number-of-lines);
	display: -webkit-box; /* display: flex; */
	-webkit-box-orient: vertical; /* flex-direction: column; */
}
.ui .sidebar .content {
	position: absolute;
	inset: var(--lead-offset) 0 0;
	overflow-y: scroll;
}

.ui .map {
	display: none;
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
}
.ui.with-map .map {
	display: block;
}
.ui .map .buttons.controls {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	position: absolute;
	right: var(--gap);
	bottom: calc(var(--gap)*2);
}
.ui .map .surface {
	position: absolute;
	inset: 0;
	cursor: grab;
}
.ui .map .surface.grabbed {
	cursor: grabbing;
}
.ui .map .tiles {
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	pointer-events: none;
}
.ui .map .tiles img {
	position: absolute;
	width: 256px;
	height: 256px;
}
.ui .map .crosshair {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	pointer-events: none;
}
.ui .map .crosshair svg {
	height: 15px;
	width: 15px;
}
.ui .map .attribution {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 2px 4px;
	background: #FFFC;
	font: 11px sans-serif;
}
.ui .map .attribution a:not(:hover) {
	text-decoration: none;
}
